/* #region FONTS */
@font-face {
	font-family: babycakes;
	src: url('/font/Babycakes.ttf') format('opentype');
}
/* #endregion FONTS */

/* #region GENERAL */

:root {
	--bg-color: #fff;
	--bg-color-darker: #e8e8e8;
	--primary-color: #89cff0;
	--text-color: #212;
	--link-color: #086391;
	--link-color-focus: #89cff0;
}

* {
	box-sizing: border-box;
}

html,
body {
	background: var(--bg-color);
	color: var(--text-color);
	height: 100%;
	font-family: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
	line-height: 1.1;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 28px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 20px;
}

h1,
h2,
h3 {
	margin-bottom: 10px;
	margin-top: 10px;
}

h4,
h5,
h6 {
	margin-bottom: 10px;
	margin-top: 10px;
}

a {
	color: var(--link-color);
	text-decoration-thickness: 1.5px;
}

a:focus, a:hover {
	color: var(--link-color-focus);
	text-decoration-thickness: 2.5px;
}

blockquote {
	border-left: 5px solid #eee;
	margin: 15px 0;
	padding: 0 20px;
}

code,
pre {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
	background-color: var(--bg-color-darker);
	font-size: 13px;
	padding: 10px;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}

pre code {
	background: inherit;
	color: inherit;
}

/* #endregion GENERAL */

/* #region PAGE SECTIONS */

body {
	display: flex;
	flex-direction: column;
	margin: 0;
}

nav {
	display: flex;
	justify-content: center;
	width: 100%;
}

.home-logo {
	border-radius: 100%;
	float: left;
	height: auto;
	margin: 20px;
	width: 100px;
}

a:hover .home-logo,
a:focus .home-logo {
	border: 5px solid var(--primary-color);
	width: 110px;
	margin: 15px;
}

main {
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	max-width: 800px;
	padding: 15px;
}

.frontpage header {
	display: grid;
	height: auto;
	margin: 40px 0px;;
	max-width: 500px;
}

.frontpage header * {
	grid-column: 1;
	grid-row: 1;
	height: 100%;
	width: 100%;
}

.frontpage header img {
	z-index: 1;
	border-radius: 100%;
	padding: 10%;
}

.frontpage header svg {
	z-index: 2;
}

.frontpage header svg text {
	fill: var(--primary-color);
	font-family: babycakes;
	font-size: 36px;
	text-transform: uppercase;
}

.frontpage .links {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	margin-top: auto;
	padding: 30px 0;
}

.page-header {
	text-align: center;
}

.posts-list {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.post-meta {
	font-style: italic;
	margin: 0 0 10px;
}

/* #endregion PAGE SECTIONS */