@font-face {
	font-family: babycakes;
	src: url('/font/Babycakes.ttf') format('opentype');
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	--bg-color: #fff;
	--bg-color-darker: #e8e8e8;
	--primary-color: #89cff0;
	background: var(--bg-color);
	color: #212;
	font-family: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
	height: 100%;
	line-height: 1.5;
}

body {
	margin: 0 auto;
	max-width: 50rem;
	padding: 1rem;
	padding-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	line-height: 1.1;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.3rem;
}

h6 {
	font-size: 1.2rem;
}

a {
	color: #086391;
}

a:focus,
a:hover {
	color: #89cff0;
}

blockquote {
	border-left: .3rem solid #eee;
	margin: 1rem 0;
	padding: 0 1rem;
}

code {
	background-color: var(--bg-color-darker);
}

img {
	max-width: 100%;
}

figure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1.3rem 0;
}

figure img {
	border: .3rem solid var(--bg-color-darker);
	border-radius: .3rem;
}

figcaption {
	font-style: italic;
	margin-top: .5em;
	text-align: center;
}

nav {
	display: flex;
	justify-content: center;
	width: 100%;
}

.home-icon-container {
	height: 6rem;
	width: 6rem;
}

.home-icon {
	border-radius: 100%;
}

a:hover .home-icon,
a:focus .home-icon {
	border: .3rem solid var(--primary-color);
}

.home-page header {
	display: grid;
}

.home-page header>* {
	grid-column: 1;
	grid-row: 1;
	height: 100%;
	width: 100%;
}

.home-page header img {
	border-radius: 100%;
	padding: 10%;
}

.home-page header svg text {
	fill: var(--primary-color);
	font-family: babycakes;
	font-size: 36px;
	text-transform: uppercase;
}

.home-page .links {
	text-align: center;
}

.page-header {
	text-align: center;
}

.post-meta {
	font-style: italic;
}