<!DOCTYPE html>
<html lang="en" class="js-disabled">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title + " - Cecilie Vennevik" if title else "Cecilie Vennevik" }}</title>
        <link rel="icon" type="image/jpg" href="/img/logo-32px.jpg" sizes="32x32">
        <link rel="icon" type="image/jpg" href="/img/logo-48px.jpg" sizes="48x48">
        <link rel="icon" type="image/jpg" href="/img/logo-64px.jpg" sizes="64x64">
        <meta name="author" content="Cecilie Vennevik">
        <link rel="alternate" title="Cecilie Vennevik's blog" href="/blog/rss.xml" type="application/rss+xml">
        <link rel="alternate" title="Cecilie Vennevik's blog" href="/blog/atom.xml" type="application/atom+xml">
        <style>
            {% include 'base.css' %}
        </style>
        <script>
            {% include 'input-persist.js' %}
        </script>
        <script>
            document.documentElement.classList.remove('js-disabled');
        </script>
    </head>
    <body>
        {% include 'site-settings-dialog.html' %}
        {{ content | safe }}
    </body>
</html>