<!DOCTYPE html>
<html lang="en" class="js-disabled">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title + " - Cecilie Vennevik" if title else "Cecilie Vennevik" }}</title>
        <link rel="icon" type="image/jpg" href="/img/logo-32px.jpg" sizes="32x32">
        <link rel="icon" type="image/jpg" href="/img/logo-48px.jpg" sizes="48x48">
        <link rel="icon" type="image/jpg" href="/img/logo-64px.jpg" sizes="64x64">
        <meta name="author" content="Cecilie Vennevik">
        <link rel="alternate" title="Cecilie Vennevik's blog" href="/blog/rss.xml" type="application/rss+xml">
        <link rel="alternate" title="Cecilie Vennevik's blog" href="/blog/atom.xml" type="application/atom+xml">
        <style>
            {% include 'base.css' %}
        </style>
        <script>
            {% include 'input-persist.js' %}
        </script>
        <script>
            document.documentElement.classList.remove('js-disabled');
        </script>
    </head>
    <body>
        <dialog id="site-settings-dialog">
            <form method="dialog">
                <button type="submit">
                    Close site settings
                </button>
                <input-persist>
                    <fieldset>
                        <label for="motion-toggle">Enable motion</label>
                        <input type="checkbox" id="motion-toggle" data-persist-key="motion-toggle">
                    </fieldset>
                    <fieldset>
                        <legend>Color scheme</legend>
                        <label for="auto-color-scheme">Auto</label>
                        <input type="radio" name="color-scheme" id="auto-color-scheme" data-persist-key="auto-color-scheme"
                            checked>
                        <label for="light-color-scheme">Light</label>
                        <input type="radio" name="color-scheme" id="light-color-scheme" data-persist-key="light-color-scheme">
                        <label for="dark-color-scheme">Dark</label>
                        <input type="radio" name="color-scheme" id="dark-color-scheme" data-persist-key="dark-color-scheme">
                    </fieldset>
                </input-persist>
            </form>
        </dialog>
        {{ content | safe }}
    </body>
</html>