---
layout: page.njk
---

<style>
    h1 {
        margin-block-start: 0;
    }
</style>
<a href="/blog/">&larr; Blog</a>
<article>
    <h1>{{ title }}</h1>
    <i>{{ date.toLocaleString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) }}</i>
    {{ content | safe }}
</article>