{% extends "base.njk" %}

{% block crumbs %}
<li>
    <a href="/">Home</a>
    <span aria-hidden="true">/</span>
</li>
<li>
    <a href="/blog/">Blog</a>
    <span aria-hidden="true">/</span>
</li>
<li>Post</li>
{% endblock %}

{% block main %}
<article>
    <h1>{{ title }}</h1>
    <i>{{ date.toLocaleString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) }}</i>
    {{ content | safe }}
</article>
{% endblock %}