---
layout: page.njk
---

<a href="/blog/">&larr; Blog</a>
<article class="blog-post">
    <h1>{{ title }}</h1>
    <span class="post-date">{{ date | renderFullDate }}</span>
    {{ content | safe }}
</article>