<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title + " - Cecilie Vennevik" if title else "Cecilie Vennevik" }}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <meta name="author" content="Cecilie Vennevik">
        <link rel="alternate" title="Cecilie Vennevik's blog" href="/blog/rss.xml" type="application/rss+xml">
        <link rel="alternate" title="Cecilie Vennevik's blog" href="/blog/atom.xml" type="application/atom+xml">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>