<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{{ title + " - Cecilie Vennevik" if title else "Cecilie Vennevik" }}</title>
        <meta name="author" content="Cecilie Vennevik"/>
        <link rel="alternate" href="/blog/rss.xml" type="application/rss+xml" title="Cecilie Vennevik's blog"/>
        <link rel="stylesheet" href="/css/main.css"/>
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>