---
layout: body.njk
---

<nav>
    <div class="home-icon-container">
        <a href="/">
            <img class="home-icon" src="/img/logo-500px.jpg" title="Home">
        </a>
    </div>
</nav>
<main>
    {{ content | safe }}
</main>