{% from 'base.njk' import base %}
{% call base(headTitle = title + ' - Cecilie Vennevik') %}
<header>
    <h1>{{ title }}</h1>
    <span class="post-meta">{{ date | renderFullDate }}</span>
</header>
<article class="blog-post">
    {{ content | safe }}
</article>
{% endcall %}