<dialog id="site-settings-dialog">
    <form method="dialog">
        <button type="submit">
            Close site settings
        </button>
        <input-persist>
            <fieldset>
                <label for="motion-toggle">Enable motion</label>
                <input type="checkbox" id="motion-toggle" data-persist-key="motion-toggle">
            </fieldset>
            <fieldset>
                <legend>Color scheme</legend>
                <label for="auto-color-scheme">Auto</label>
                <input type="radio" name="color-scheme" id="auto-color-scheme" data-persist-key="auto-color-scheme"
                    checked>
                <label for="light-color-scheme">Light</label>
                <input type="radio" name="color-scheme" id="light-color-scheme" data-persist-key="light-color-scheme">
                <label for="dark-color-scheme">Dark</label>
                <input type="radio" name="color-scheme" id="dark-color-scheme" data-persist-key="dark-color-scheme">
            </fieldset>
        </input-persist>
    </form>
</dialog>