* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #FFF;
  color: #404040;
  display: flex;
  flex-direction: column;
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  position: relative;

  @media (prefers-color-scheme: dark) {
    background: black;
    color: white;
  }
}

main {
  margin-bottom:50px;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  padding: 15px;
}

p {
  margin: 6px 0;
}
p + p {
  margin: 24px 0 6px 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.1;
}
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
h1, h2, h3 {
  margin-bottom: 10px;
  margin-top: 20px;
}
h4, h5, h6 {
  margin-bottom: 10px;
  margin-top: 10px;
}

a {
  color: #008AFF;
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  a {
    color: #50afff;
  }
}
a:hover,
a:focus {
  color: #0085a1;
  text-decoration: none;
}
hr {
  border: 0;
  border-top: 1px solid #eee;
  margin-bottom: 20px;
  margin-top: 20px;
}
hr.small {
  border-color: inherit;
  border-radius: 3px;
  border-width: 4px;
  margin: 15px auto;
  max-width: 100px;
}

.navbar-custom {
  background: #F5F5F5;
  border-bottom: 1px solid #EAEAEA;
  color: #404040;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;

  @media (prefers-color-scheme: dark) {
    background: #505050;
    border-bottom: 1px solid #AAA;
    color: #b0b0b0;
  }
}

.navbar-custom .navbar-brand {
  color: #404040;
  float: left;
  font-size: 18px;
  height: 50px;
  line-height: 20px;
  padding: 15px 15px;

  @media (prefers-color-scheme: dark) {
    color: #b0b0b0;
  }
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #0085a1;

  @media (prefers-color-scheme: dark) {
    color: #b0e0ff;
  }
}

footer {
  background: #F5F5F5;
  border-top: 1px #EAEAEA solid;
  font-size: 14px;
  margin-top: auto;
  padding: 30px 0;
}
footer a {
  color: #404040;
}
footer .theme-by {
  color: #777;
  margin: 10px 0 0;
  text-align: center;
}
footer .footer-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 10px;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  footer {
    background: #444;
    border-top: 1px #AAA solid;
  }
  footer a {
    color: #AAA;
  }
}

.post-preview {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}
@media only screen and (min-width: 768px) {
  .post-preview {
    padding: 35px 0;
  }
}
.post-preview:last-child {
  border-bottom: 0;
}
.post-preview .post-title {
  color: #404040;
  font-size: 30px;
  margin-top: 0;
}
@media (prefers-color-scheme: dark) {
  .post-preview .post-title {
    color: #AAA;
  }
}
.post-preview .post-title:focus,
.post-preview .post-title:hover {
  color: #0085a1;
}
.post-preview .post-entry {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 10px;
  width: 100%;
}

.post-meta {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin: 0 0 10px;
}

@media only screen and (min-width: 768px) {
  .post-preview .post-title {
    font-size: 36px;
  }
}

.page-header {
  text-align: center;
}

.pager {
  list-style: none;
  margin: 10px 0 0;
  padding-left: 0;
  text-align: center;
}
.pager .next {
  float: right;
}
.pager .previous {
  float: left;
}
.pager a {
  background: #FFF;
  border: 1px solid #ddd;
  color: #404040;
  display: inline-block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  text-transform: uppercase;
}
@media (prefers-color-scheme: dark) {
  .pager a {
    background: #444;
    color: white;
  }
}
.pager a:hover,
.pager a:focus {
  background: #0085a1;
  border: 1px solid #0085a1;
  color: #FFF;
}

blockquote {
  border-left: 5px solid #eee;
  font-size: 17.5px;
  margin: 15px 0;
  padding: 5px 20px;
}

code, pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  font-size: 13px;
  padding: 10px;
  word-break: break-all;
  word-wrap: break-word;
}
pre code {
  color: inherit;
  white-space: pre-wrap;
}
@media (prefers-color-scheme: dark) {
  code {
    background-color: #222;
    color: #fbb;
  }
}
