/* --- General --- */

body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 18px;
  color: #404040;
  position: relative;
  background: #FFF;
  display: flex;
  flex-flow: column;
  height: 100vh;
}
@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
}
.container[role=main] {
  margin-bottom:50px;
  flex: 1 0 auto;
}

@media only screen and (max-width: 767px) {
.container[role=main] {
    margin-left: 0;
    margin-right: 0;
}
}

p {
  line-height: 1.5;
  margin: 6px 0;
}
p + p {
    margin: 24px 0 6px 0;
}
p a {
  /* text-decoration: underline */
  color: #008AFF;
}
@media (prefers-color-scheme: dark) {
  p a {
    color: #50afff;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
a {
  color: #008AFF;
}
@media (prefers-color-scheme: dark) {
  a {
    color: #50afff;
  }
}
a:hover,
a:focus {
  color: #0085a1;
}
blockquote {
  color: #808080;
  font-style: italic;
}
blockquote p:first-child {
  margin-top: 0;
}
@media (prefers-color-scheme: dark) {
  blockquote {
    border-left: 5px solid #444;
  }
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}

.main-content {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .main-content {
    padding-top: 130px;
  }
}

.main-explain-area {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 15px inherit;
}

.hideme {
  display: none;
}

div.panel-body a.list-group-item {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  border-radius: 0;
  border: none;
  font-size: 16px;
}
div.panel-group .panel {
    border-radius: 0;
}
div.panel-group .panel+.panel {
    margin-top: 0;
}

div.panel-body a.list-group-item.view-all {
  font-weight: 600;
}

::-moz-selection, ::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
img::selection, img::-moz-selection {
  color: white;
  background: transparent;
}


img {
  display: block;
  margin: auto;
  max-width: 100%;
}
@media (prefers-color-scheme: dark) {
figure:not(.dark) img, img.white {
  background-color: white;
}
}

.img-title {
  width: 100%;
}

/* --- Navbar --- */

.navbar-custom {
  background: #F5F5F5;
  border-bottom: 1px solid #EAEAEA;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media (prefers-color-scheme: dark) {
  .navbar-custom {
    background: #505050;
    border-bottom: 1px solid #AAA;
  }
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  font-weight: 800;
  color: #404040;
}

@media (prefers-color-scheme: dark) {
  .navbar-custom .navbar-brand,
  .navbar-custom .nav li a {
    color: #b0b0b0;
  }
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus ,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #0085a1;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus ,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  @media (prefers-color-scheme: dark) {
    color: #b0e0ff;
  }
}

.navbar-custom .navbar-brand-logo {
  padding-top: 0;
  -webkit-transition: padding .5s ease-in-out;
  -moz-transition: padding .5s ease-in-out;
  transition: padding .5s ease-in-out;
}
.navbar-custom .navbar-brand-logo img {
  height: 50px;
  -webkit-transition: height .5s ease-in-out;
  -moz-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}
.navbar-custom.top-nav-short .navbar-brand-logo {
  padding-top: 5px;
}
.navbar-custom.top-nav-short .navbar-brand-logo img {
  height: 40px;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-short {
    padding: 0;
  }
}

/* Multi-level navigation links */
.navbar-custom .nav .navlinks-container {
  position: relative;
}
.navbar-custom .nav .navlinks-parent:after {
  content: " \25BC";
}
.navbar-custom .nav .navlinks-children {
  width: 100%;
  display: none;
  word-break: break-word;
}
.navbar-custom .nav .navlinks-container .navlinks-children a {
  display: block;
  padding: 10px;
  padding-left: 30px;
  background: #f5f5f5;
  text-decoration: none !important;
  border-width: 0 1px 1px 1px;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  .navbar-custom .nav .navlinks-container.show-children {
    background: #eee;
  }
  .navbar-custom .nav .navlinks-container.show-children .navlinks-children {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-custom .nav .navlinks-container {
    text-align: center;
  }
  .navbar-custom .nav .navlinks-container:hover {
    background: #eee;
  }
  .navbar-custom .nav .navlinks-container:hover .navlinks-children {
    display: block;
  }
  .navbar-custom .nav .navlinks-children {
    position: absolute;
  }
  .navbar-custom .nav .navlinks-container .navlinks-children a {
    padding-left: 10px;
    border: 1px solid #eaeaea;
    border-width: 0 1px 1px;
  }
}
@media (prefers-color-scheme: dark) {
  .navbar-custom .nav .navlinks-container:hover {
    background: #666;
  }
  .navbar-custom .nav .navlinks-container .navlinks-children a {
    border: 1px solid #AAA;
  }
  .navbar-custom .nav .navlinks-container .navlinks-children a {
    background: #444;
  }
}

/* --- Footer --- */

footer {
  padding: 30px 0;
  background: #F5F5F5;
  border-top: 1px #EAEAEA solid;
  margin-top: auto;
  font-size: 14px;
}
footer a {
  color: #404040;
}
footer .theme-by {
  color: #777;
  text-align: center;
  margin: 10px 0 0;
}
footer .footer-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 10px;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 50px 0;
  }
  footer .copyright {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  footer {
    background: #444;
    border-top: 1px #AAA solid;
  }
  footer a {
    color: #AAA;
  }
}

/* --- Post preview --- */

.post-preview {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
@media only screen and (min-width: 768px) {
  .post-preview {
    padding: 35px 0;
  }
}

.post-preview:last-child {
  border-bottom: 0;
}

.post-preview a {
  text-decoration: none;
  color: #404040;
}
@media (prefers-color-scheme: dark) {
  .post-preview a {
    color: #AAA;
  }
}

.post-preview a:focus,
.post-preview a:hover {
  text-decoration: none;
  color: #0085a1;
}

.post-preview .post-title {
  font-size: 30px;
  margin-top: 0;
}
.post-preview .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview .post-meta,
.post-heading .post-meta,
.page-meta {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin: 0 0 10px;
}
.page-meta {
  align-self: center;
}
.post-preview .post-meta a,
.post-heading .post-meta a,
.page-meta a {
  color: #404040;
  text-decoration: none;
}
.post-preview .post-entry {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.post-entry-container {
  display: inline-block;
  width: 100%;
}
.post-entry {
  width: 100%;
  margin-top: 10px;
}
.post-image {
  float: right;
  height: 192px;
  width: 192px;
  margin-top: -35px;
  filter: grayscale(90%);
}
.post-image:hover {
  filter: grayscale(0%);
}
.post-image img {
  border-radius: 100px;
  height: 192px;
  width: 192px;
}
.post-preview .post-read-more {
  font-weight: 800;
  float: right;
}

@media only screen and (min-width: 768px) {
  .post-preview .post-title {
    font-size: 36px;
  }
}

@media only screen and (max-width: 500px) {
  .post-image, .post-image img {
    height: 100px;
    width: 100px;
  }

  .post-image {
    width: 100%;
    text-align: center;
    margin-top: 0;
    float: left;
  }
}
/* --- Post and page headers --- */

.intro-header {
  margin: 80px 0 20px;
  position: relative;
}
.intro-header .page-heading {
  text-align: center;
}
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .post-heading h1 {
  margin-top: 0;
  font-size: 35px;
}
.intro-header .page-heading .page-subheading,
.intro-header .post-heading .post-subheading {
  font-size: 27px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
.intro-header .post-heading .post-subheading {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .intro-header {
    margin-top: 130px;
  }
  .intro-header .page-heading h1,
  .intro-header .post-heading h1 {
    font-size: 50px;
  }
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* --- Pager --- */

.pager li a {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 5px;
  background: #FFF;
  border-radius: 0;
  color: #404040;
}
@media only screen and (min-width: 768px) {
  .pager li a {
    padding: 15px 25px;
  }
}
.pager li a:hover,
.pager li a:focus {
  color: #FFF;
  background: #0085a1;
  border: 1px solid #0085a1;
}

@media (prefers-color-scheme: dark) {
.pager li a {
  background: #444;
  color: white;
}
}

.pager {
  margin: 10px 0 0;
}

.pager.blog-pager {
  margin-top:10px;
}

h4.panel-title > span.badge {
    float: right;
}

@media only screen and (min-width: 768px) {
  .pager.blog-pager  {
    margin-top: 40px;
  }
}

/* --- Tables --- */

table {
  padding: 0;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
@media (prefers-color-scheme: dark) {
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
@media (prefers-color-scheme: dark) {
table tr {
  background-color: #181818;
}
table tr:nth-child(2n) {
  background-color: #303030
}
}
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}

/* Related posts */
h4.see-also {
  margin-top: 20px;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  code {
    background-color: #222;
    color: #fbb;
  }
  pre code {
    color: #ccc;
  }
  .well {
    background-color: #444;
  }
  .panel {
    background-color: #222;
  }
  .list-group-item {
    background-color: #333;
  }
}
