{{ define "main" }}
  <header class="page-header">
    <h1>Blog</h1>
    <hr class="small">
  </header>
  <div class="posts-list">
    {{ range .Paginator.Pages }}
      <article class="post-preview">
        <a href="{{ .Permalink }}">
          <h2 class="post-title">{{ .Title }}</h2>
        </a>
        <p class="post-meta">
          <span class="post-meta">{{ "January 2, 2006" | .Date.Format }}</span>
        </p>
        <div class="post-entry">
          {{ .Summary }}
        </div>
      </article>
    {{ end }}
  </div>
  {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <nav class="pager main-pager">
      {{ if .Paginator.HasPrev }}
        <a class="previous" href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; Newer</a>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <a class="next" href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">Older &rarr;</a>
      {{ end }}
    </nav>
  {{ end }}
{{ end }}
