{{ if .IsHome }}
  {{ if .Site.Params.homeTitle }}{{ $.Scratch.Set "title" .Site.Params.homeTitle }}{{ else }}{{ $.Scratch.Set "title" .Site.Title }}{{ end }}
{{ else }}
  {{ $.Scratch.Set "title" .Title }}
{{ end }}
{{ $title := $.Scratch.Get "title" }}

<header class="header-section">
  <div class="intro-header">
    <div class="{{ .Type }}-heading">
      {{ if eq .Type "list" }}
        <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
      {{ else }}
        <h1>{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
      {{ end }}
      {{ if ne .Type "post" }}
        <hr class="small">
      {{ end }}
      {{ if eq .Type "post" }}
        <span class="post-meta">{{ "January 2, 2006" | .Date.Format }}</span>
      {{ end }}
    </div>
  </div>
</header>
