:root {
	--bg-color-1: #FFF;
	--bg-color-2: #F5F5F5;
	--text-color-1: #444;
	--text-color-2: #444;
	--text-color-3: #808080;
	--link-color: #008AFF;
	--link-color-focus: #0085a1;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color-1: #000;
		--bg-color-2: #444;
		--text-color-1: #FFF;
		--text-color-2: #BBB;
		--link-color: #50afff;
		--link-color-focus: #0085a1;
	}
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background: var(--bg-color-1);
	color: var(--text-color-1);
	display: flex;
	flex-direction: column;
	font-family: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
}

main {
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	max-width: 800px;
	padding: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
	line-height: 1.1;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 28px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 20px;
}

h1,
h2,
h3 {
	margin-bottom: 10px;
	margin-top: 10px;
}

h4,
h5,
h6 {
	margin-bottom: 10px;
	margin-top: 10px;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover,
a:focus {
	color: var(--link-color-focus);
	text-decoration: none;
}

blockquote {
	border-left: 5px solid #eee;
	margin: 15px 0;
	padding: 0 20px;
}

code,
pre {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
	background-color: var(--bg-color-2);
	font-size: 13px;
	padding: 10px;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}

pre code {
	background: inherit;
	color: inherit;
}

footer {
	align-items: center;
	background: var(--bg-color-2);
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	margin-top: auto;
	padding: 30px 0;
}

.navbar {
	background: var(--bg-color-2);
	font-weight: 800;
}

.navbar-brand {
	color: var(--text-color-2);
	float: left;
	font-size: 18px;
	padding: 15px 15px;
}

.post-title:not(:hover, :focus) {
	color: var(--text-color-2);
}

.posts-list {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.post-title:not(:hover, :focus) {
	color: var(--text-color-2);
}

.post-meta {
	color: var(--text-color-3);
	font-style: italic;
	margin: 0 0 10px;
}

.page-header {
	text-align: center;
}