/* Site-wide styles */
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--codeblock-color: #eee;
	--codeblock-background-color: #2b2b2b;
	--home-link-focus-color: #89cff0;

	--background-color: #f0f9fd;
	--foreground-color: rgba(255, 255, 255, 30%);
	--border-color: rgba(0, 0, 0, 10%);
	--text-color: #212;
	--code-background-color: rgba(0, 0, 0, 10%);
	--link-color: #086391;
	--link-focus-color: #89cff0;
	--header-background-color: #89cff0;
	--header-background-border-color: #086391;
	--header-link-color: #086391;
	--header-link-focus-color: #f0f9fd;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #222;
		--foreground-color: #444;
		--border-color: rgba(255, 255, 255, 10%);
		--text-color: #fff;
		--code-background-color: #444;
		--link-color: #89cff0;
		--link-focus-color: #b8e2f6;
		--header-background-color: #086391;
		--header-background-border-color: #034c70;
		--header-link-color: #89cff0;
		--header-link-focus-color: #f0f9fd;
	}
}

html {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
	height: 100%;
	line-height: 1.5;
}

body {
	margin: 0;
	padding: 0;
}

body > header {
	--link-color: var(--header-link-color);
	--link-focus-color: var(--header-link-focus-color);
	background-color: var(--header-background-color);
	border-bottom: .25rem solid var(--header-background-border-color);
}

.navbar {
	align-items: center;
	box-sizing: content-box;
	display: flex;
	gap: 1rem;
	margin: auto;
	max-width: 50rem;
	min-height: 3rem;
	padding: .5rem 1rem;
}

.navbar img {
	border-radius: 100%;
	display: inline-block;
	height: 2rem;
	width: 2rem;
}

.navbar nav {
	flex-grow: 1;
}

.crumbs {
	align-items: center;
	display: flex;
	gap: .5rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

.crumbs li {
	display: flex;
	gap: .5rem;
}

main {
	margin: 0 auto;
	max-width: 50rem;
	padding: 1rem;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.3rem; }
h6 { font-size: 1.2rem; }

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 1.1;
	margin-block-start: 1em;
	margin-block-end: 0;
}

h1 {
	margin-block-start: 0;
}

a {
	color: var(--link-color);
	transition: color .1s;
}

a:focus,
a:hover {
	color: var(--link-focus-color);
}

blockquote {
	border-left: .3rem solid var(--border-color);
	margin: 1rem 0;
	padding: 0 1rem;
}

:not(pre) > code {
	background-color: var(--code-background-color);
}

pre {
	background-color: var(--codeblock-background-color);
	border-radius: 0.5em;
	color: var(--codeblock-color);
	font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	hyphens: none;
	line-height: 1.4;
	padding: 1em;
	overflow: auto;
	tab-size: 4;
	white-space: pre-wrap;
}

img {
	max-width: 100%;
}

figure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1.3rem 0;
}

figure img {
	border: .3rem solid var(--border-color);
	border-radius: .3rem;
}

figcaption {
	font-style: italic;
	margin-top: .5em;
	text-align: center;
}

/* Home page */

@font-face {
	font-family: babycakes-uppercase;
	src:
		url('/font/Babycakes-uppercase.woff2') format('woff2'),
		url('/font/Babycakes-uppercase.ttf') format('opentype');
}

.splash {
	display: grid;
	margin: auto;
	max-height: 30rem;
	max-width: 30rem;
}

.splash > * {
	grid-column: 1;
	grid-row: 1;
	height: 100%;
	width: 100%;
}

.splash img {
	border-radius: 100%;
	padding: 10%;
}

.splash svg text {
	fill: #89cff0;
	stroke: #086391;
	font-family: babycakes-uppercase;
	font-size: 36px;
	text-transform: uppercase;
}

.home-page-links {
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	gap: 0.5em;
	margin-top: 1rem;
	text-align: center;
}

/* Blog post list */

.blog-post-list {
        padding: 0;
        list-style: none;
    }
.blog-post-list li {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
}

.blog-post-list li + li {
	margin-top: .5rem;
}

.blog-post-list i {
	white-space: nowrap;
}