{% extends "base.njk" %}

{% block main %}
<header class="splash">
    <img src="/img/logo-500px.jpg" alt="A seal in a wine glass">
    <svg viewbox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
        <title>Welcome to my website</title>
        <path id="top-curve" d="M 100 100 C 100 90, 250 -40, 400 100" stroke="transparent" fill="transparent"/>
        <path id="bottom-curve" d="M 100 400 C 100 410, 250 540, 400 400" stroke="transparent" fill="transparent"/>
        <text aria-hidden="true" textlength="340">
            <textPath xlink:href="#top-curve">Welcome to</textPath>
        </text>
        <text aria-hidden="true" textlength="340">
            <textPath xlink:href="#bottom-curve" dominant-baseline="hanging">my website</textPath>
        </text>
    </svg>
</header>
<nav class="home-page-links">
    <a href="/blog/">Blog</a>
    <a href="/blogroll/">Blogroll</a>
    <a href="/blogrollroll/">Blogrollroll</a>
    <a href="/reader/">My feed reader</a>
    <a href="/influences/">Influences</a>
    <a rel="me" href="https://hachyderm.io/@cvennevik">Mastodon</a>
    <a href="mailto:cvennevik@gmail.com">Email</a>
</nav>
{% endblock %}