---
pagination:
    data: slugs
    size: 1
    alias: slug
slugs:
    - "a-corner-cutters-confession"
    - "code-reviews-are-overloaded"
    - "i-am-a-social-animal"
    - "oops-i-made-code-review-painful"
    - "technical-debt-is-an-incomplete-model"
    - "type-constraints-with-class-constructors"
    - "using-typescript-to-prevent-common-mistakes"
permalink: "/post/{{ slug }}/"
---

{%- set redirectUrl = "/blog/" + slug + "/" %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="2; url={{ redirectUrl }}">
        <title>Page moved</title>
    </head>
    <body>
        This page has moved to <a href="{{ redirectUrl }}">{{ redirectUrl }}</a>, you should be redirected shortly...
    </body>
</html>