---
permalink: "/webrollroll/"
---

{%- set redirectUrl = "/blogrollroll/" %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="2; url={{ redirectUrl }}">
        <title>Page moved</title>
    </head>
    <body>
        This page has moved to
        <a href="{{ redirectUrl }}">{{ redirectUrl }}</a>, you should be redirected shortly...
    </body>
</html>